  <div class="box">
    <div class="top-img">
      <ul>
        <li>
          <img class="fl" src="./img/pic1.png" alt="">
          <div class="fl left-mar-1">最高可贷50万</div>
        </li>
        <li>
          <img class="fl" src="./img/pic2.png" alt="">
          <div class="fl left-mar-1">有身份证、驾驶证就能申请</div>
        </li>
        <li>
          <img class="fr" src="./img/pic3.png" alt="">
          <div class="fr right-mar-1">联合多家银行提供低费率产品</div>
        </li>
        <li>
          <img class="fr" src="./img/pic4.png" alt="">
          <div class="fr right-mar-1">专属顾问全程陪同，一站式购车体验</div>
        </li>
      </ul>
    </div>
    <div class="med-process">
      <div class="med-title">购车流程</div>
      <ul class="med-ul">
        <li class="fl left-mar-38">自由选车</li>
        <li class="fl left-mar-49">提交申请</li>
        <li class="fl left-mar-51">顾问致电</li>
      </ul>
      <img src="./img/process.png" alt="">
      <ul class="med-ul-two">
        <li class="fl left-mar-38">到店签约</li>
        <li class="fl left-mar-71">开走爱车 享受生活</li>
      </ul>
    </div>
    <div class="bottom-ques">
      <div class="med-title">常见问题</div>
      <ul class="bot-ul">
        <li>
          <p>1.车辆准入标准？</p>
          <div class="">
            首次登记日期距合同签订日期不超过8年的小型普通客车；<br/>
            仪表盘行驶里程数不超过15w公里；车型符合7座及7座以下的车辆。
          </div>
        </li>
        <li>
          <p>2.办理车分期的利息是多少？</p>
          <div class="">
            目前月息<i>0.63%</i>起，相当于1万块钱1个月最少是63块钱的利息。
          </div>
        </li>
        <li>
          <p>3.购买二手车是否需要付首付？</p>
          <div class="">
            需要客户支付购车价格最低30%的首付款。
          </div>
        </li>
        <li>
          <p>4.车分期申请条件？</p>
          <div class="">
            需要年龄在21-55周岁；申请人本人及配偶都为中华人民共和国国籍；（港澳台除外），具有有效的机动车驾驶证；征信情况良好；
          </div>
        </li>
        <li>
          <p>5.车分期最多可以办理几年？</p>
          <div class="">
                               目前车分期可以办理2年（24个月）和3年（36个月）。
          </div>
        </li>
      </ul>
    </div>
    <div class="button">
      <div class="fl left-but"><a  href="tel:13512345678">电话咨询</a></div>
      <div class="fr right-but">立即申请</div>
    </div>
  </div>